<a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a>
<h1>Doctor's Attributes</h1>

<% @doctors.each do |doctor| %>
  <p>name: <%= doctor.name %></p>
  <p>available: <%= doctor.available %></p>
  <p>rating: <%= doctor.rating %></p>
<% end %>
