<a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a>
<% @patients.each do |patient| %>
  <h3>name: <%= patient.name %></h3>
  <p>id: <%= patient.id %></p>
  <p>visitors: <%= patient.visitors %></p>
  <p>age: <%= patient.age %></p>
<% end %>
