<h1>Welcome to the Relational Rails</h1>

<ul>
  <li><a href="/hospital">Hospital Index</a></li>
  <li><a href="/hospital/new">New Hospital</a></li>

  <li><a href="/patient">Patient Index</a></li>
  <li><a href="/patient/new">New Patient</a></li>

  <li><a href="/clinic">Clinic Index</a></li>
  <li><a href="/clinic/new">New Clinic</a></li>

  <li><a href="/doctor">Doctor Index</a></li>
  <li><a href="/doctor/new">New Doctor</a></li>
</ul>
