<div class="header">
<h1>Welcome to the Relational Rails</h1>
<h5>Creators: Emmy and Sid</h5>
</div>
<h2>Are you with a Hospital or Clinic?</h2><hr>
<h3>Hospitals:</h3>
<%= link_to "Hospital Index", "/hospitals" %>
<h4>Hospital Patients:</h4>
<%= link_to "Patient Index", "/patients" %><br><br><br>
<h3>Clinics:</h3>
<%= link_to "Clinic Index", "/clinics" %>
<h4>Clinic Doctors:</h4>
<%= link_to "Doctor Index", "/doctors" %>
