<h1>Welcome to the Relational Rails</h1>

<ul>
  <li><a href="/hospitals">Hospital Index</a></li>
  <li><a href="/hospitals/new">New Hospital</a></li>

  <li><a href="/patients">Patient Index</a></li>
  <li><a href="/patients/new">New Patient</a></li>

  <li><a href="/clinics">Clinic Index</a></li>
  <li><a href="/clinics/new">New Clinic</a></li>

  <li><a href="/doctors">Doctor Index</a></li>
  <li><a href="/doctors/new">New Doctor</a></li>
</ul>
