<a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a>
<h1>All Hospitals</h1>

<% @hospitals.each do |hospital| %>
  <h3><%= hospital.name %>: <%= hospital.created_at %></h3>
<% end %>
